<div class="container" id="education-container">
	<div id="tab-container">
		<ul id="tabs" ng-init="tab='2B'">
			<a href class="tab" ng-repeat="term in terms" ng-click="onClickTab(term.term)" ng-class="{active:isActiveTab(term.term)}">
				<li>
					<h2 ng-bind="term.term"></h2>
					<div class="date">
						<p>{{term.start_date}} -</p>
						<p>{{term.end_date}} {{term.year}}</p>
					</div>
				</li>
			</a>
		</ul>
		<ul id="courses" ng-repeat="term in terms" ng-show="isActiveTab(term.term)">
			<li class="course-info" ng-repeat="course in term.courses">
				<h2 ng-bind="course.code"></h2><h3 ng-bind="course.name"></h3>
			</li>
		</ul>
	</div>
</div>