[ng\:cloak],
[ng-cloak],
.ng-cloak {
  display: none !important;
}
html,
body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
}
a {
  color: #7DC3CE;
}
button {
  background-color: #7DC3CE;
  border: none;
  border-radius: 6px;
  padding: 10px;
  width: 100px;
  color: white;
  font-size: 12px;
  font-weight: normal;
  margin-top: 20px;
}
button:hover {
  background-color: #61A3A5;
}
.left {
  float: left;
}
.right {
  float: right;
}
.navbar {
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.8);
  position: fixed;
  top: 0;
  width: 100%;
}
.navbar .header {
  width: 610px;
  margin-left: auto;
  margin-right: auto;
}
.navbar .header #categories {
  float: left;
  width: 74px;
  color: transparent;
  font-family: "Baumans";
  text-align: center;
  font-size: 12px;
  text-decoration: none;
}
.navbar .header #categories .circle {
  margin-top: 15px;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  text-align: center;
  font-family: "Baumans";
  color: white;
  font-size: 30px;
  float: left;
  /*box-shadow:inset 2px 1px 5px #FFFFFF;*/
  margin-left: 12px;
  line-height: 45px;
  background-color: #c8c8c8;
}
.navbar .header #categories .rect {
  top: 0px;
  width: 74px;
  height: 10px;
  background-color: #D96253;
  position: absolute;
  animation-name: myfirst;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  /* Safari and Chrome: */
  -webkit-animation-name: myfirst;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-timing-function: linear;
}
.navbar .header #categories:hover {
  color: #969696;
}
.navbar .header #categories:hover .circle {
  background-color: rgba(0, 0, 0, 0);
  background-image: url(../img/circle.png);
  background-size: 100% 100%;
}
.container {
  padding: 120px 50px 20px;
}
#home-container {
  text-align: center;
}
#home-container #categories {
  display: inline-block;
  width: 100px;
  height: 100px;
  position: relative;
  margin: 10px;
}
#home-container #categories img {
  width: 100%;
  position: absolute;
  left: 0;
}
#home-container #categories .label {
  font-family: "Baumans";
  color: white;
  font-size: 20px;
  text-decoration: none;
  text-align: center;
  width: 100%;
  position: absolute;
  line-height: 5;
}
#coding-container .project .title {
  display: inline-block;
  width: 28%;
  background-color: rgba(220, 220, 220, 0.5);
  margin: 20px 1%;
  padding: 80px 0px 20px;
  height: 260px;
  vertical-align: top;
  text-align: center;
}
#coding-container .project .title h2 {
  padding-bottom: 0.41em;
  margin: 0 20px !important;
  border-bottom: 1px solid #dcdcdc;
  font-family: "Ubuntu";
}
#coding-container .project .title a {
  display: block;
}
#coding-container .project .title a button {
  margin-top: 20px;
}
#coding-container .project .description {
  display: inline-block;
  width: 68%;
  margin: 20px 1%;
  height: 360px;
  background-size: cover;
  background-position: center center;
}
#coding-container .project .description#facebook2 {
  background-image: url("../img/facebook.png");
}
#coding-container .project .description#facebook1 {
  background-image: url("../img/messenger.jpg");
}
#coding-container .project .description#calligre {
  background-image: url("../img/calligre.png");
}
#coding-container .project .description#google {
  background-image: url("../img/google.jpg");
}
#coding-container .project .description#lookout {
  background-image: url("../img/lookout.png");
}
#coding-container .project .description#waterlux {
  background-image: url("../img/waterlux.jpg");
}
#coding-container .project .description#concrete {
  background-image: url("../img/concrete.png");
}
#coding-container .project .description#engport {
  background-image: url("../img/EngPort.png");
}
#coding-container .project .description#kaleidescape {
  background-image: url("../img/kaleidescape.png");
}
#coding-container .project .description#singspiel {
  background-image: url("../img/singspiel.png");
}
#coding-container .project .description#website {
  background-image: url("../img/website.png");
}
#coding-container .project .description#onebible {
  background-image: url("../img/onebible.png");
}
#coding-container .project .description .text {
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  height: 320px;
  padding: 20px;
  opacity: 0;
  -webkit-transition: opacity 0.1s ease-in-out;
  -moz-transition: opacity 0.1s ease-in-out;
  transition: opacity 0.1s ease-in-out;
  z-index: -1;
  font-family: 'Open Sans', sans-serif;
}
#coding-container .project .description .text h3 {
  margin-top: 0;
  font-family: 'Ubuntu', 'Montserrat', Gotham, 'Proxima Nova', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Arial, sans-serif !important;
  font-size: 16px;
  font-weight: normal;
  border-bottom: 1px solid white;
  padding-bottom: 10px;
}
#coding-container .project .description:hover .text {
  opacity: 1 !important;
}
#links-container {
  text-align: center;
}
#links-container a {
  text-decoration: none;
  color: black;
  font-family: 'Ubuntu';
}
#links-container .link {
  z-index: 0;
  width: 48%;
  max-width: 200px;
  position: relative;
  display: inline-block;
  background-size: cover;
  text-align: center;
  margin: 20px;
}
#links-container .link img {
  width: 100%;
  border-radius: 0;
  -webkit-transition: border-radius 0.2s ease-in-out;
  -moz-transition: border-radius 0.2s ease-in-out;
  transition: border-radius 0.2s ease-in-out;
}
#links-container .link .info {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.8);
  width: 60%;
  height: 60%;
  margin: 20%;
  text-align: center;
  opacity: 0;
  position: absolute;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}
#links-container .link .info p {
  padding-top: 28px;
}
#links-container .link:hover img {
  border-radius: 50%;
}
#links-container .link:hover .info {
  opacity: 1;
}
#activities-container #activities-wookmark {
  position: relative !important;
}
#activities-container #activities-wookmark .activity {
  font-family: 'Ubuntu', sans-serif;
  font-size: 12px;
  text-decoration: none !important;
  position: absolute;
}
#activities-container #activities-wookmark .activity .thumbnail {
  margin: 20px 1%;
  width: 282px;
  z-index: 1;
  padding: 4px 15px;
  line-height: 1.428571429;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  color: black !important;
}
#activities-container #activities-wookmark .activity .thumbnail .caption {
  font-family: "Open Sans";
}
#activities-container #activities-wookmark .activity .thumbnail .caption h3 {
  font-family: 'Ubuntu', 'Montserrat', Gotham, 'Proxima Nova', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Arial, sans-serif !important;
  font-weight: normal;
  font-size: 16px;
}
#activities-container #activities-wookmark .activity .thumbnail .caption span {
  color: #7DC3CE;
  font-weight: bold;
}
#activities-container #activities-wookmark .activity .thumbnail.link:hover {
  box-shadow: 0px 0px 0px 2px #7DC3CE;
}
#resume-container #mobile-container {
  display: none;
  padding: 0 30px;
}
#resume-container #skills {
  width: 200px;
  float: left;
  position: fixed;
  padding-right: 15px;
}
#resume-container #skills h3 {
  clear: both;
  margin: 15px 0 5px;
  font-family: 'Ubuntu';
}
#resume-container #skills ul {
  display: inline-block;
  padding-left: 0;
  margin: 0;
}
#resume-container #skills li {
  list-style: none;
  float: left;
  padding: 3px 10px;
  margin: 5px;
  border: none;
  border-radius: 6px;
  color: white;
  font-size: 12px;
  background-color: #c8c8c8;
}
#resume-container #skills .hoverSkill,
#resume-container #skills .activeSkill {
  background-color: #7DC3CE;
}
#resume-container #skills p {
  margin: 0;
}
#resume-container #description {
  float: right;
  padding-left: 240px;
  padding-bottom: 50px;
}
#resume-container #description button {
  float: right;
  margin: 5px 0 10px;
}
#resume-container #description li {
  list-style: none;
  text-indent: -28px;
  margin-bottom: 10px;
}
#resume-container #description li h4 {
  padding-left: 40px;
  font-style: italic;
  font-size: 12px;
}
#resume-container #description li span {
  font-size: 14px;
  padding-left: 3px;
  font-family: 'Ubuntu';
}
#resume-container #description li:before {
  content: ">>";
  padding-right: 10px;
}
#resume-container #description h1 {
  margin-bottom: 0;
}
#resume-container #description h2 {
  margin: 0;
  float: left;
}
#resume-container #description h3 {
  float: right;
  margin: 0 0 0 10px;
  font-size: 14px;
  line-height: 40px;
  font-family: 'Ubuntu';
  font-weight: 400;
}
#resume-container #description h4 {
  margin: 0 0 0 10px;
  font-size: 14px;
}
#resume-container #description ul {
  clear: both;
}
#resume-container #description .hoverProject,
#resume-container #description .activeProject {
  background-color: rgba(0, 221, 255, 0.15);
}
#resume-container #description #first {
  margin-top: 0 !important;
  float: left;
}
#resume-container #description #prelude-description {
  clear: both;
}
#info-container .jumbotron {
  padding: 50px 60px;
  border-radius: 6px;
  margin-bottom: 30px;
}
#info-container #flowers {
  background-image: url("../img/flowers_blue.png");
  background-size: cover;
  background-position: center;
  margin-top: 20px;
  padding: 20px 60px;
  text-align: right;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100px;
  font-size: 20px;
  font-weight: 100;
}
#info-container #flowers #stuff {
  margin-top: 100px;
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 100;
  text-align: right;
  font-style: italic;
  line-height: 30px;
}
#info-container #flowers p {
  color: white;
  padding-right: 20px;
  line-height: 30px !important;
}
#info-container #flowers h2 {
  font-size: 36px;
  font-family: 'Ubuntu' !important;
  color: white;
  padding-right: 20px;
  font-style: normal;
  font-weight: 400;
}
#info-container #flowers h5 {
  font-size: 14px;
  color: white;
  padding-right: 20px;
}
#stories-container #post-container {
  text-align: center;
}
#stories-container .blog-post {
  width: 300px;
  margin: 20px;
  display: inline-block;
  vertical-align: top;
}
#stories-container a {
  text-decoration: none;
}
#stories-container .blog-content {
  padding: 15px 28px;
  border: 1px solid #dddddd;
  border-radius: 4px;
}
#stories-container .blog-content h4 {
  margin: 20px 0;
  letter-spacing: 1px;
}
#stories-container .blog-content h4 a {
  color: #333;
}
#stories-container .blog-content .post-meta {
  text-transform: uppercase;
  margin-bottom: 18px;
  padding-bottom: 10px;
  font-size: 12px;
  border-bottom: 1px solid #F5F5F5;
}
#stories-container .blog-content .post-meta span {
  color: #CCC;
}
#stories-container .blog-content .post-meta span:first-child a {
  color: #848484;
}
#stories-container .blog-content .post-meta span a {
  color: #CCC;
  border-bottom: 1px rgba(0, 0, 0, 0);
}
#stories-container .blog-content .post-meta span a:hover {
  text-decoration: none;
  border-bottom-style: solid;
  border-color: inherit;
}
#stories-container .blog-content .post-meta span {
  padding-right: 10px;
  border-right: 1px solid #CCC;
  margin-right: 10px;
}
#stories-container .blog-content .post-meta span:last-child {
  margin-right: 0;
  border-right: 0;
  padding-right: 0;
}
#stories-container .blog-content p {
  color: #67666a;
  line-height: 22px;
}
#stories-container #blog-link-wrapper {
  clear: both;
  text-align: center;
}
#snaps-container {
  text-align: center;
}
#snaps-container #instafeed img {
  margin: 5px;
}
#education-container {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}
#education-container .school-container {
  background-color: #7DC3CE;
  color: white;
  font-family: 'Open Sans' sans-serif !important;
  display: flex;
  align-items: center;
}
#education-container .school-container h2 {
  margin: 0 20px;
}
#education-container .school-container .info {
  flex: 1;
  background-color: #61A3A5;
  padding: 20px;
}
#education-container .school-container .info p {
  margin: 0;
}
#education-container #favourite {
  margin: 40px 40px 0;
}
#education-container #courses {
  list-style: none;
}
#education-container #courses .course-info h2,
#education-container #courses .course-info h3 {
  display: inline-block;
}
#education-container #courses .course-info h2 {
  font-size: 20px !important;
  font-family: "Ubuntu" !important;
}
#education-container #courses .course-info h3 {
  font-size: 14px !important;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  padding-left: 30px;
}
#education-container #courses .course-info .term {
  float: right;
  margin-right: 40px;
}
@media only screen and (max-device-width: 1024px) {
  .view {
    min-height: 100%;
  }
  .container {
    padding: 10px !important;
    margin-top: 70px;
  }
  .navbar {
    border-bottom: solid 1px #777;
  }
  .navbar a {
    text-decoration: none;
    color: black;
  }
  .navbar a img {
    width: 30px;
    float: left;
    padding: 10px;
  }
  .navbar a h3 {
    margin: 12px 0px;
    float: left;
  }
  .navbar .header {
    display: inline-block;
  }
  .navbar #mobile-nav {
    width: 100%;
    display: block;
  }
  #home-container {
    margin-top: 0 !important;
  }
  #coding-container .text {
    opacity: 1 !important;
  }
  #links-container .link img {
    border-radius: 50%;
  }
  #links-container .link .info {
    opacity: 1;
  }
  #info-container {
    padding: 0 !important;
    margin-top: 0 !important;
    min-height: 100%;
  }
  #info-container #flowers {
    margin: 0 !important;
    padding: 70px 20px 20px !important;
    min-height: 100%;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
  #info-container #flowers h2 {
    padding-right: 0 !important;
  }
  #info-container #flowers #stuff {
    margin-top: 50px;
    text-align: center;
  }
  #stories-container {
    padding-top: 0 !important;
  }
}
@media only screen and (max-width: 1000px) {
  #sounds-container #description {
    max-width: none;
  }
  #sounds-container #sounds-wookmark .item {
    width: 100%;
  }
  #sounds-container #sounds-wookmark .youtube {
    height: 350px;
  }
}
@media only screen and (max-width: 800px) {
  .container {
    padding: 100px 10px;
  }
  .header {
    max-width: 400px !important;
  }
  .header #categories {
    width: 50px !important;
    font-size: 10px !important;
  }
  .header #categories .circle {
    margin-top: 15px;
    width: 40px !important;
    height: 40px !important;
    border-radius: 20px !important;
    font-size: 26px !important;
    margin-left: 5px !important;
    line-height: 35px !important;
  }
  .header #categories .rect {
    width: 50px !important;
  }
  #coding-container {
    padding: 100px 2% 20px;
  }
  #coding-container .project .title {
    width: 100%;
    margin: 20px 0px;
    padding: 20px 0px;
    text-align: center;
    height: auto;
  }
  #coding-container .project .title h2,
  #coding-container .project .title p,
  #coding-container .project .title span,
  #coding-container .project .title a {
    float: none !important;
  }
  #coding-container .project .title p,
  #coding-container .project .title span,
  #coding-container .project .title button {
    margin: 0 !important;
  }
  #coding-container .project .title h2 {
    border-bottom: 0px solid #dcdcdc;
    margin-top: 0 !important;
    line-height: 37px;
    padding-bottom: 0;
  }
  #coding-container .project .title p {
    vertical-align: bottom;
    line-height: 37px;
  }
  #coding-container .project .title span {
    vertical-align: bottom;
    line-height: 37px;
  }
  #coding-container .project .title a {
    display: block;
  }
  #coding-container .project .description {
    width: 100%;
    margin: 0px 0px 50px;
    height: auto;
    min-height: 305px;
  }
  #coding-container .project .description .text {
    height: auto;
    min-height: 305px;
  }
  #links-container .link {
    width: 40%;
    margin: 10px;
  }
  #links-container .link p {
    padding-top: 10px !important;
  }
  #info-container {
    padding: 100px 0px 20px;
  }
  #info-container .jumbotron {
    border-radius: 0 !important;
  }
  #info-container #flowers {
    padding: 20px 10px;
    text-align: center;
  }
  #info-container #flowers h2 {
    padding-right: 0 !important;
  }
  #info-container #flowers #stuff {
    text-align: center;
  }
  #sounds-container #description {
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
  }
  #sounds-container #sounds-wookmark {
    width: 100%;
  }
  #stories-container {
    text-align: center;
    padding: 100px 30px 40px 30px;
  }
}
@media only screen and (max-width: 700px) {
  #resume-container {
    text-align: center;
  }
  #resume-container #mobile-container {
    display: inline-block;
  }
  #resume-container #skills,
  #resume-container #description {
    display: none;
  }
}
@media only screen and (max-width: 600px) {
  .header {
    max-width: 360px !important;
  }
  .header #categories {
    width: 45px !important;
  }
  .header #categories .rect {
    width: 45px !important;
  }
  #coding-container .project .title p {
    float: right;
    margin-left: 0px;
  }
  #coding-container .project .title span {
    margin-left: 20px;
    clear: both;
  }
  #education-container .tab h2 {
    width: 100% !important;
    text-align: center !important;
  }
  #education-container .tab .date {
    display: none;
  }
  #education-container .course-info h2 {
    width: 100%;
    margin-bottom: 0 !important;
  }
  #education-container .course-info h3 {
    margin-top: 0 !important;
  }
}
@keyframes myfirst {
  0% {
    top: -10px;
  }
  100% {
    top: 0px;
  }
}
@-webkit-keyframes myfirst {
  /* Safari and Chrome */
  0% {
    top: -10px;
  }
  100% {
    top: 0px;
  }
}
